<div class="initial-form" v-if="initialComplete == false || initial.form == null">

    {% include 'partials/forms/initial/form.twig' %}

    {% include 'partials/forms/initial/ano.twig' %}
    {% include 'partials/forms/initial/oo.twig' %}
    {% include 'partials/forms/initial/f.twig' %}
    {% include 'partials/forms/initial/assoc.twig' %}

</div>

<div v-if="initialComplete">
    <input v-for="val, name in initial" type="hidden" :name="'company[' + name + ']'" :value="val">

    <input v-for="item in selected" v-if="item != main" type="hidden" name="okved[]" :value="item.code">

    <input type="hidden" name="requester" :value="requester">
    <input v-if="main" type="hidden" name="main" :value="main.code">
</div>
