<div>
    <h5>{{ title }}</h5>
    <div class="row">
        <div class="col-md-6">

            {% include'partials/fields/field-text.twig' with {
                'label': 'Имя',
                'placeholder': 'Введите имя',
                'name': name ~ '[name]',
                'required': true,
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'Отчество',
                'placeholder': 'Введите отчество',
                'name': name ~ '[middle_name]',
            } %}

        </div>

        <div class="col-md-6">

            {% include'partials/fields/field-text.twig' with {
                'label': 'Фамилия',
                'placeholder': 'Введите фамилию',
                'name': name ~ '[last_name]',
                'required': true,
            } %}

        </div>
    </div>

    <h5>Паспортные данные</h5>
    <div class="row">
        <div class="col-md-6">

            <div class="row dm">
                <div class="col-md-6">

                    {% include'partials/fields/field-text.twig' with {
                        'label': 'Серия и номер',
                        'placeholder': 'Серия',
                        'name': name ~ '[passport_serial]',
                        'required': true,
                    } %}

                </div>
                <div class="col-md-6">

                    {% include'partials/fields/field-text.twig' with {
                        'placeholder': 'Номер',
                        'name': name ~ '[passport_number]',
                        'required': true,
                    } %}

                </div>
            </div>

            {% include'partials/fields/field-text.twig' with {
                'label': 'Дата выдачи',
                'name': name ~ '[passport_date]',
                'type': 'date',
                'required': true,
            } %}

        </div>

        <div class="col-md-6">

            {% include'partials/fields/field-text.twig' with {
                'label': 'Кем выдан',
                'placeholder': 'Введите кем выдан паспорт',
                'name': name ~ '[passport_issued]',
                'required': true,
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'Код подразделения',
                'placeholder': 'Введите код подразделения',
                'name': name ~ '[passport_code]',
                'required': true,
            } %}

        </div>

    </div>

</div>
