<div>
    {% if (title ?? true) %}
    <h4>{{ 'Исполнительный орган' }}</h4>
    {% endif %}
    <div class="row">
        <div class="col-md-6">

            {% include'partials/fields/field-select.twig' with {
                'label': 'Наименования органа управления',
                'name': name ~ '[type]',
                'required': true,
                'options': [
                    {
                        'name': 'Директор',
                        'val': '0',
                    },
                    {
                        'name': 'Генеральный директор',
                        'val': '1',
                    },
                    {
                        'name': 'Президент',
                        'val': '2',
                    },
                    {
                        'name': 'Руководитель',
                        'val': '3',
                    },
                    {
                        'name': 'Исполнительный директор',
                        'val': '4',
                    },
                    {
                        'name': 'Председатель',
                        'val': '5',
                    },
                ],
            } %}

            {% include'partials/fields/field-select.twig' with {
                'label': 'Гражданство',
                'placeholder': 'Гражданство',
                'name': name ~ '[cizenship]',
                'required': true,
                'options': [
                    {
                        'name': 'Гражданин РФ',
                        'val': '1',
                    },
                    {
                        'name': 'Иностранный гражданин',
                        'val': '2',
                    }
                ],
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'Фамилия',
                'placeholder': 'Введите фамилию',
                'name': name ~ '[last_name]',
                'required': true,
            } %}

            {% include'partials/fields/field-select.twig' with {
                'label': 'Пол',
                'placeholder': 'Пол',
                'name': name ~ '[sex]',
                'required': true,
                'options': [
                    {
                        'name': 'Мужской',
                        'val': '1',
                    },
                    {
                        'name': 'Женский',
                        'val': '2',
                    }
                ],
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'Место рождения',
                'placeholder': 'Укажите место рождения',
                'name': name ~ '[birth_place]',
                'required': true,
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'ИНН',
                'v-mask': '############',
                'placeholder': 'Введите ИНН',
                'name': name ~ '[inn]',
                'required': true,
            } %}

        </div>

        <div class="col-md-6">

            {% include'partials/fields/field-text.twig' with {
                'label': 'Имя',
                'placeholder': 'Введите имя',
                'name': name ~ '[name]',
                'required': true,
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'Отчество',
                'placeholder': 'Введите отчество',
                'name': name ~ '[middle_name]',
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'Дата рождения',
                'name': name ~ '[birth_date]',
                'type': 'date',
                'required': true,
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'E-mail',
                'placeholder': 'Введите E-mail',
                'name': name ~ '[email]',
                'required': true,
                'type': 'email',
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'Телефон',
                'placeholder': 'Введите телефон',
                'name': name ~ '[phone]',
                'required': true,
                'type': 'text',
            } %}

        </div>
    </div>

    <h4>Паспортные данные учредителя</h4>
    <div class="row">
        <div class="col-md-6">

            <div class="row dm">
                <div class="col-md-6">

                    {% include'partials/fields/field-text.twig' with {
                        'label': 'Серия и номер',
                        'placeholder': 'Серия',
                        'name': name ~ '[passport_serial]',
                        'required': true,
                    } %}

                </div>
                <div class="col-md-6">

                    {% include'partials/fields/field-text.twig' with {
                        'placeholder': 'Номер',
                        'name': name ~ '[passport_number]',
                        'required': true,
                    } %}

                </div>
            </div>

            {% include'partials/fields/field-text.twig' with {
                'label': 'Дата выдачи',
                'name': name ~ '[passport_date]',
                'type': 'date',
                'required': true,
            } %}

        </div>

        <div class="col-md-6">

            {% include'partials/fields/field-text.twig' with {
                'label': 'Кем выдан',
                'placeholder': 'Введите кем выдан паспорт',
                'name': name ~ '[passport_issued]',
                'required': true,
            } %}

            {% include'partials/fields/field-text.twig' with {
                'label': 'Код подразделения',
                'placeholder': 'Введите код подразделения',
                'name': name ~ '[passport_code]',
                'required': true,
            } %}

        </div>

    </div>

</div>
