<div v-for="person, index in persons" class="person">
    <input type="hidden" v-model="person.index" :value="index">
    <h4>
        Учредитель
        <span v-if="index > 0 && persons.length > minPersons" @click="removePerson(index)" class="btn btn-sm btn-danger">
            Удалить
        </span>
    </h4>

    <div class="row">
        <div class="col-md-6 mb-3">
            <input v-if="person.ogrn" type="hidden" value="2"
                   :name="'person[' + index + '][type]'">
            <input v-else type="hidden" value="1"
                   :name="'person[' + index + '][type]'">
            <label>
                <input type="radio" v-model="requester" :value="index" @change="savePersons">
                Заявитель
            </label>
        </div>
    </div>

    {#    <div v-if="person.type == 1"> #}

    <div class="row">

        <div class="col-md-6">

            <div class="mb-3">
                <label class="form-label">Гражданство *</label>
                <select v-model="person.cizenship" :name="'person[' + index + '][cizenship]'"
                        required="required" class="form-control " @change="savePersons">
                    <option value="1">Гражданин РФ</option>
                    <option value="2">Иностранный гражданин</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Фамилия *</label>
                <input type="text" placeholder="Введите фамилию" :name="'person[' + index + '][last_name]'"
                       v-model="person.last_name" required="required" class="form-control " @change="savePersons">
            </div>

            <div class="mb-3">
                <label class="form-label">Пол *</label>
                <select v-model="person.sex" required="required" class="form-control "
                        :name="'person[' + index + '][sex]'" @change="savePersons">
                    <option value="1">Мужской</option>
                    <option value="2">Женский</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Место рождения *</label>
                <input type="text" placeholder="Укажите место рождения"
                       :name="'person[' + index + '][birth_place]'" required
                       v-model="person.birth_place" class="form-control " @change="savePersons">
            </div>

            <div class="mb-3">
                <label class="form-label">ИНН *</label>
                <input type="text" placeholder="Введите ИНН"
                       :name="'person[' + index + '][inn]'" required
                       v-mask="'############'" @change="savePersons"
                       v-model="person.inn" class="form-control n-mask">
            </div>

            <div class="mb-3">
                <label class="form-label">ОГРН &nbsp;</label>
                <input type="text" placeholder="Введите ОГРН"
                       :name="'person[' + index + '][ogrn]'"
                       v-mask="'#############'" class="form-control"
                       v-model="person.ogrn" @change="savePersons">
            </div>

        </div>
        <div class="col-md-6">

            <div class="mb-3">
                <label class="form-label">Имя *</label>
                <input type="text" placeholder="Введите имя" v-model="person.name"
                       :name="'person[' + index + '][name]'"
                       required="required" class="form-control " @change="savePersons">
            </div>

            <div class="mb-3">
                <label class="form-label">Отчество</label>
                <input type="text" placeholder="Введите отчество"
                       :name="'person[' + index + '][middle_name]'"
                       v-model="person.middle_name" class="form-control " @change="savePersons">
            </div>

            <div class="mb-3">
                <label class="form-label">Дата рождения *</label>
                <input type="date" placeholder="" v-model="person.birth_date"
                       :name="'person[' + index + '][birth_date]'"
                       required="required" class="form-control " @change="savePersons">
            </div>

            <div class="mb-3">
                <label class="form-label">E-mail *</label>
                <input type="email" placeholder="Введите E-mail" v-model="person.email"
                       :name="'person[' + index + '][email]'"
                       required="required" class="form-control " @change="savePersons">
            </div>

            <div class="mb-3">
                <label class="form-label">Телефон *</label>
                <input type="text" placeholder="Введите телефон" v-model="person.phone"
                       :name="'person[' + index + '][phone]'"
                       v-mask="'+# (###) ### ## ##'" @change="savePersons"
                       required="required" class="form-control n-mask">
            </div>

        </div>
    </div>

    <h4>Паспортные данные учредителя</h4>
    <div class="row">

        <div class="col-md-6">
            <div class="row dm">

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Серия и номер *</label>
                        <input type="text" placeholder="Серия" v-model="person.passport_serial"
                               v-mask="'####'" @change="savePersons"
                               :name="'person[' + index + '][passport_serial]'"
                               required="required" class="form-control n-mask">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label"> &nbsp;</label>
                        <input type="text" placeholder="Номер" v-model="person.passport_number"
                               v-mask="'######'" @change="savePersons"
                               :name="'person[' + index + '][passport_number]'"
                               required="required" class="form-control n-mask">
                    </div>
                </div>

            </div>

            <div class="mb-3">
                <label class="form-label">Дата выдачи *</label>
                <input type="date" placeholder="" v-model="person.passport_date"
                       :name="'person[' + index + '][passport_date]'"
                       required="required" class="form-control " @change="savePersons">
            </div>

        </div>

        <div class="col-md-6">

            <div class="mb-3">
                <label class="form-label">Кем выдан *</label>
                <input type="text" placeholder="Введите кем выдан паспорт" v-model="person.passport_issued"
                       :name="'person[' + index + '][passport_issued]'"
                       required="required" class="form-control " @change="savePersons">
            </div>

            <div class="mb-3">
                <label class="form-label">Код подразделения *</label>
                <input type="text" placeholder="Введите код подразделения"
                       v-model="person.passport_code" v-mask="'###-###'"
                       :name="'person[' + index + '][passport_code]'"
                       required="required" class="form-control n-mask" @change="savePersons">
            </div>

        </div>
    </div>
    {# </div> #}

    {#    <div v-if="person.type == 2"> #}
    {#        <h4>Регистрационные данные учредителя - юр. лица</h4> #}
    {#        <div class="row"> #}

    {#            <div class="col-md-6"> #}

    {#                <div class="mb-3"> #}
    {#                    <label class="form-label">ИНН *</label> #}
    {#                    <input type="text" placeholder="Введите ИНН" v-model="person.jur_inn" #}
    {#                           :name="'person[' + index + '][jur_inn]'" #}
    {#                           required="required" class="form-control n-mask" @change="savePersons"> #}
    {#                </div> #}

    {#            </div> #}

    {#            <div class="col-md-6"> #}

    {#                <div class="mb-3"> #}
    {#                    <label class="form-label">ОГРН *</label> #}
    {#                    <input type="text" placeholder="Введите ОГРН" v-model="person.jur_ogrn" #}
    {#                           :name="'person[' + index + '][jur_ogrn]'" #}
    {#                           required="required" class="form-control " @change="savePersons"> #}
    {#                </div> #}

    {#            </div> #}
    {#        </div> #}
    {#    </div> #}

    <hr>
</div>
