<ul class="step-steps">
    <li data-step-target="step1">Наименование</li>
    <li data-step-target="step2">Адрес</li>
    <li data-step-target="step3">Учредители</li>
    <li data-step-target="step4">Цель и предмет деятельности</li>
    <li data-step-target="step5">Исполнительный орган</li>
    <li data-step-target="step6">ОКВЭД</li>
    <li data-step-target="step7">Вывод документов</li>
</ul>
<div class="step-content">

    <div class="step-tab-panel" data-step="step1">
{#        {% include 'partials/forms/steps/step_persons.twig' %}#}
        {% include 'partials/forms/steps/step_name.twig' %}
    </div>

    <div class="step-tab-panel" data-step="step2">
        {% include 'partials/forms/steps/step_address.twig' %}
    </div>

    <div class="step-tab-panel" data-step="step3">
        {% include 'partials/forms/steps/step_persons.twig' %}
    </div>

    <div class="step-tab-panel" data-step="step4">
        {% include 'partials/forms/steps/step_description.twig' %}
    </div>

    <div class="step-tab-panel" data-step="step5">
        {% include 'partials/forms/steps/step_boss.twig' %}
    </div>

    <div class="step-tab-panel" data-step="step6">
        {% include 'partials/forms/steps/step_okved.twig' %}
    </div>

    <div class="step-tab-panel" data-step="step7">
        {% include 'partials/forms/steps/step_result.twig' %}
    </div>

</div>
<div class="step-footer">
    <button data-step-action="prev" class="step-btn">Назад</button>
    <button data-step-action="next" class="step-btn">Далее</button>
    <button data-step-action="finish" class="step-btn">Выгрузить документы</button>
    <button @click.prevent="resetForm()" class="btn btn-link" style="float:right;">
        Начать сначала
    </button>
</div>
