button.step-btn {

    margin: 0 auto;
    /* left: auto; */
    /* right: 0; */
    display: inline-block;
    min-width: 200px;
    padding: 10px !important;
    background: #db8d21 !important;
    color: white !important;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px !important;
}

.step-app > .step-steps > li {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.initial-form {
    z-index: 20;
}


#wizard {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    box-shadow: 1px 1px 6px #0808084d;
    top: 50px;
}

label.btn.btn-primary.mb-2 {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
}

textarea.form-control {
    min-height: 200px;
}

.buttons {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

label.btn.btn-primary.mb-2 {
    max-width: 360px;
    width: 100%;
}

.table .btn-primary {
    background-color: #0d6efd;
    min-width: 200px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#last .col-sm-2 {
    border: none;
}

.table > :not(:first-child) {
    border-top: none !important;
}

.intro {
    border-style: solid;
    padding: 15px;
    border-width: 1px 1px 1px 5px;
    border-color: #db8d21
}

.step-app > .step-content {
    border: 0px !important;
}

.step-app > .step-steps > li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.step-footer {
    text-align: center;
}

.step-app > .step-steps > li.done {
    background-color: #3cb371;
    color: #fff;
    border-bottom: 5px solid mediumseagreen;
}

.step-app > .step-steps > li {
    border-bottom: 5px solid #db8d21;
}

li.active {
    background: #db8d21 !important;
}

.step-app > .step-steps > li.error {
    background-color: #e7505a !important;
}

.row:not(.dm) {
    margin: 20px;

}

.step-tab-panel h4, .step-tab-panel h5 {
    font-size: 30px;
    margin: 20px;
}

.step-tab-panel h5 {
    font-size: 20px;
}

li {
    list-style: none;
}
