<h3>Скачивание результатов</h3>
<div class=row>
<p class=intro>Поздравляем! Вы успешно сформировали пакет документов для регистрации Местной 
общественной организации и подачи в Министерство юстиции РФ по Архангельской области и Ненецкому автомномному округу.
Данные файлы вы можете скачать и оформить в надлежащем виде, который описан в Документе Word «Пакет документов на регистрацию»
</p>

<ul>
   <li v-for="file, name in resultFiles">
       <a :href="'/word/result/' + file">
           ${ name }
       </a>
   </li>
</ul>
<script>
$('[data-step-action="finish"]').trigger('click');
</script>
</div>
