<div class="step-persons">
    <div class=row>
        <!--<h4>Учредитель</h4>-->
        <p class=intro>Учредителями могут быть физические лица и (или) юридические лица - общественные объединения,
            созвавшие съезд (конференцию) или общее собрание. Для внесения сведений об учредителях, являющиеся
            физическими лицами, необходимо ввести данные в соответствие с паспортом, а также ИНН в случае его
            наличия.</p>
    </div>
    {% include 'partials/forms/person_component.twig' %}

    <span @click="addPerson" v-if="initial.manyPersons > 0 || initial.form == 'assoc'" class="btn btn-primary">
        Добавить учредителя
    </span>

    <input type="hidden" name="sole_founder" value="1" checked v-if="persons.length === 1">

    <hr>

    <div class="mt-3">

        <div v-if="persons.length > 1" class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Председатель</label>
                <select required="required" class="form-control" name="chairman">
                    <option v-for="person in persons" :value="person.index">
                        ${ person.name ? ((person.last_name || '') + ' ' + person.name) : 'Учредитель ' + (person.index
                        + 1)
                        }
                    </option>
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Секретарь</label>
                <select required="required" class="form-control" name="secretary">
                    <option v-for="person in persons" :value="person.index">
                        ${ person.name ? ((person.last_name || '') + ' ' + person.name) : 'Учредитель ' + (person.index
                        + 1)
                        }
                    </option>
                </select>
            </div>
        </div>

    </div>
</div>
