{% include'partials/forms/person_extended.twig' with {
    'name': 'boss[0]',
} %}

<div v-if="initial.form !== 'ano'" class="revizor_fields">

    {% for index, key in ['Первый', 'Второй', 'Третий'] %}
        <hr>
        {% include'partials/forms/person_small.twig' with {
            'title': key ~ ' участник Совета организации',
            'name': 'soviet[' ~ index ~ ']',
        } %}
    {% endfor %}

    <div v-if="initial.form === 'f'">
        {% for index, key in ['Первый', 'Второй', 'Третий'] %}
            <hr>
            {% include'partials/forms/person_small.twig' with {
                'title': key ~ ' участник Попечительского совета',
                'name': 'popsoviet[' ~ index ~ ']',
            } %}
        {% endfor %}
    </div>

    <hr>
    <div class="mb-3">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Наименование ревизионного органа *</label>
                <select name="revizor_type" v-model="revizorType" @change="setupMask" required class="form-control">
                    <option value="0">Ревизор</option>
                    <option value="1">Ревизионная комиссия</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        <div v-if="revizorType === '1'">
            {% for index, key in ['Первый', 'Второй', 'Третий'] %}
                <hr>
                {% include'partials/forms/person_small.twig' with {
                    'title': key ~ ' участник Ревизионной комиссии',
                    'name': 'revcom[' ~ index ~ ']',
                } %}
            {% endfor %}
        </div>

        <div v-else>
            <hr>
            {% include'partials/forms/person_small.twig' with {
                'title': 'Ревизор',
                'name': 'revcom[0]',
            } %}
        </div>
    </div>

</div>
