<div class="row">
<p class="intro">Цели и предмет деятельности указывается закрытым перечнем, без указания «и иные цели и/или предмет деятельности». Целью является то для чего в целом создаётся организация, а Предметом деятельности организации является та деятельность, которой планирует заниматься организация для достижения Цели деятельности. Так же стоит отметить, что для того чтобы считаться социально ориентированной НКО, следует включить в данный раздел один или несколько видов деятельности СО НКО, предусмотренных ст. 31.1 Федерального закона от 12.01.1996 № 7-ФЗ «О некоммерческих организациях</p>
    <div class="col-md-6">

        {% include 'partials/fields/field-textarea.twig' with {
            'label': 'Организация создается с целью',
            'placeholder': 'Введите цель деятельности',
            'name': 'company[activity_purpose]',
            'required': true,
        } %}

        {% include 'partials/fields/field-textarea.twig' with {
            'label': 'Предмет деятельности (каждый вид деятельности (предмет деятельности) необходимо написать с нового абзаца). Предметом деятельности организации явялется та деятельность, которой планирует заниматься организация для достижения целей деятельности.',
            'placeholder': 'Введите предмет деятельности',
            'name': 'company[activity_object]',
            'required': true,
        } %}

    </div>
</div>