<div class="row">
<p class=intro>«По законодательству РФ название НКО должно содержать ссылку на правовую модель и вид деятельности организации и собственно название. Главным является соответствие формы НКО и направления деятельности. Правильное указание этих данных влияет на положительное решение о регистрации НКО. Например, Автономная некоммерческая организация центр поддержки гражданских инициатив «ЩИТ».</p>
    <div class="col-md-6">
        {% include'partials/fields/field-text.twig' with {
            'label': 'Полное наименование',
            'placeholder': 'Введите полное наименование',
            'name': 'company[full_name]',
            'required': true,
        } %}

        {% include'partials/fields/field-text.twig' with {
            'label': 'Сокращенное наименование',
            'placeholder': 'Введите сокращенное наименование',
            'name': 'company[short_name]',
        } %}

        {% include'partials/fields/field-text.twig' with {
            'label': 'Наименование на англ. языке',
            'placeholder': 'Введите наименование',
            'name': 'company[full_name_en]',
        } %}

        {% include'partials/fields/field-text.twig' with {
            'label': 'Сокращенное наименование на англ. языке',
            'placeholder': 'Введите сокращенное наименование',
            'name': 'company[short_name_en]',
        } %}

        {% include'partials/fields/field-text.twig' with {
            'label': 'Дата создания документов',
            'placeholder': 'Введите дату',
            'name': 'company[date_created]',
            'type': 'date',
            'required': true,
        } %}
    </div>
    <div class="col-md-6">

        {% include'partials/fields/field-text.twig' with {
            'label': 'E-mail для внесения в ЕГРЮЛ',
            'placeholder': 'Ваш email',
            'name': 'company[email]',
            'type': 'email',
            'required': true,
        } %}

        {% include'partials/fields/field-text.twig' with {
            'label': 'Номер контактного телефона заявителя',
            'placeholder': 'Ваш телефон',
            'name': 'company[phone]',
            'type': 'text',
            'required': true,
        } %}

        {% include'partials/fields/field-text.twig' with {
            'label': 'Время заседания высшего органа управления',
            'placeholder': 'Время заседания',
            'name': 'company[meeting_time]',
            'type': 'time',
            'required': true,
        } %}

    </div>

    <div class="col-md-12">
        {% include'partials/fields/field-checkbox.twig' with {
            'label': 'Поставьте отметку, если вам необходимо получение документов на бумажном носителе',
            'name': 'options[print_paper]',
        } %}
    </div>
</div>
