<div>
    <div>
       <div class=row>
        <h4>Выбранные коды ОКВЭД</h4>
          <p class=intro>Виды деятельности Организации должны быть определены на этапе его создания в соответствии с Общероссийским классификатором видов экономической деятельности (ОКВЭД). Основной код деятельности должен быть отмечен отдельно. <a href="http://www.consultant.ru/document/cons_doc_LAW_163320">Подробно</a></p>
        <table id="selected-okveds" class="table table-bordered mb-4">
            <tr>
                <th>Основной</th>
                <th>Код</th>
                <th>Название вида деятельности</th>
                <th></th>
            </tr>
            <tr v-if="selected.length == 0">
                <td colspan="4">Вы еще не выбрали ни одного кода ОКВЭД</td>
            </tr>
            <tr v-for="item in selected">
                <td>
                    <input type="radio" v-model="main" :value="item">
                </td>
                <td>
                    ${ item.code }
                </td>
                <td>
                    ${ item.name }
                </td>
                <td>
                    <label>
                        <input type="checkbox" :value="item" v-model="selected" class="selected d-none">
                        Удалить
                    </label>
                </td>
            </tr>
        </table>
    </div>

    <input type="text" v-model="search" @input="find()"
           placeholder="Поиск по ОКВЭД" class="form-control">

    <div>
        <h4 class="mt-3">Результаты поиска</h4>
        <ul>
            <li v-for="item in list">
                <label>
                    <input type="checkbox" :value="item" v-model="selected">
                    <span class="code">
                        ${ item.code }
                    </span>
                    <span class="name">
                        ${ item.name }
                    </span>
                </label>


                <ul v-if="item.childs">
                    <li v-for="child in item.childs">
                        <label>
                            <input type="checkbox" :value="child" v-model="selected">
                            <span class="code">
                                ${ child.code }
                            </span>
                            <span class="name">
                                ${ child.name }
                            </span>
                        </label>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
</div>
</div>
