<div class=row>
<p class="intro">Адрес регистрации АНО указывается полностью (например: 163000, Российская Федерация, Архангельская область, город Северодвинск, улица Энергетиков, дом 11а, кв. 1). Предоставляется домашний адрес одного из учредителей при условии, что данный адрес принадлежит учредителю на праве собственности. Так же возможно указывать адрес помещения принадлежащее учредителям(ю) на праве безвозмездного пользования/аренды. Если учредитель владеет только долей, необходимо получить письменное согласие других собственников. ВАЖНО: Адрес регистрации — это то место, куда будет направляться корреспонденция, а также место, которое будут посещать представители налогового органа с целью проведения контрольных проверок, поэтому к данному вопросу стоит относится ответственно.</p>

<div class="col-md-6">

    {% include'partials/fields/field-text.twig' with {
        'label': 'Юридический адрес организации',
        'placeholder': 'Юр. адрес',
        'name': 'company[jur_address]',
        'type': 'address',
        'required': true,
    } %}
    <label>
        <input type="checkbox" name="company[address_after_registration]" value="1">
        Адрес будет предоставлен при заключении договора аренды (субаренды, безвозмездного пользования) после регистрации НКО
    </label>

    <input type="hidden" name="address[suggestion]" id="address-suggestion" data-save>

    {% for field in [
        'region', 'region_type_full', 'region_with_type',
        'city', 'city_type', 'city_type_full', 'city_with_type',
        'settlement', 'settlement_type', 'settlement_type_full', 'settlement_with_type',
        'postal_code', 'street', 'street_type', 'street_with_type',
        'house', 'house_type',
        'flat', 'flat_type',
    ] %}
        <input type="hidden" name="address[{{ field }}]" data-save>
    {% endfor %}

</div>
</div>
