{% extends "partials/layout.twig" %}

{% block title %}НКО регистрация{% endblock %}

{% block content %}

    <form class="step-app" id="wizard" method="POST">

        {% include('partials/forms/initial_form.twig') %}

        {% include('partials/forms/type_nko.twig') %}

    </form>

{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.steps@1.1.1/dist/jquery-steps.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery.steps@1.1.1/dist/jquery-steps.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
            integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <link rel="stylesheet" href="/style.css?v=d90dw12d">

    <script>
        Vue.use(VueMask.VueMaskPlugin);

        var vm = new Vue({
            delimiters: ['${', '}'],
            el: '#wizard',
            data: {
                list: [],
                selected: [],
                search: '',
                main: null,
                manyPersons: true,
                minPersons: 3,
                initialComplete: false,
                revizorType: 0,
                initial: {
                    step: 0,
                    form: null,
                },
                requester: 0,
                persons: [{index: 0, cizenship: 1, sex: 1, type: 1,}],
                resultFiles: {},
            },
            methods: {
                find: _.debounce(function () {
                    var that = this;
                    if (that.search.length < 2) {
                        that.list = [];
                        return;
                    }
                    $.ajax({
                        url: '/find',
                        data: {
                            text: that.search,
                        },
                        success: function (resp) {
                            that.list = JSON.parse(resp);
                        },
                    });
                }, 1000),

                getSelected: function () {
                    return this.selected;
                },

                setMain: function (item) {
                    this._main = item;
                },

                addPerson: function () {
                    this.persons.push({index: this.persons.length, cizenship: 1, sex: 1, type: 1,});
                    this.savePersons();
                },

                removePerson: function (index) {
                    this.persons.splice(index, 1);
                    this.savePersons();
                },

                initialStep: function (step, key, value) {
                    this.initial.step += step;
                    this.initial[key] = value;
                },

                initialFinish: function (key, value) {
                    this.initialComplete = true;
                    this.initial[key] = value;
                    this.initAnoFormVariables();
                    var that = this;
                    setTimeout(function () {
                        that.setupMask();
                    }, 1000);
                },

                initAnoFormVariables: function () {
                    if (this.initial.form == 'oo') {
                        this.minPersons = 3;
                        this.initial.manyPersons = 1;
                    } else if (this.initial.form == 'assoc') {
                        this.minPersons = 2;
                        this.initial.manyPersons = 1;
                    } else {
                        this.minPersons = 1;
                    }
                    for(i = 0; i < this.minPersons - this.persons.length; i++) {
                        this.addPerson();
                    }
                },

                resetForm: function (e) {
                    this.initialComplete = false;
                    this.initial = {step: 0, form: null,};
                    this.savePersons();
                    // $('#wizard').trigger('reset');
                    setTimeout(function () {
                        $('#wizard .is-invalid').removeClass('is-invalid');
                        setFilledData();
                    }, 50);
                },

                savePersons: function () {
                    localStorage.persons = JSON.stringify(Object.values(this.persons));
                    localStorage.initial = JSON.stringify(this.initial);
                    localStorage.initialComplete = this.initialComplete;
                    console.log(this.initial, this.initialComplete);
                },
                setupMask: function () {
                    setTimeout(function () {

                        $('.revizor_fields [name*=phone]:not(.n-mask)').inputmask("+9 (999) 999 99 99");
                        $('.revizor_fields [name*=inn]:not(.n-mask)').inputmask("999999999999");
                        $('.revizor_fields [name*=passport_code]:not(.n-mask)').inputmask("999-999");
                        $('.revizor_fields [name*=passport_serial]:not(.n-mask)').inputmask("9999");
                        $('.revizor_fields [name*=passport_number]:not(.n-mask)').inputmask("999999");

                    }, 100);
                },
            },
            mounted() {
                if (localStorage.persons) {
                    this.persons = JSON.parse(localStorage.persons);
                }
                if (localStorage.initial) {
                    this.initial = JSON.parse(localStorage.initial);
                }
                if (localStorage.initialComplete !== undefined) {
                    this.initialComplete = localStorage.initialComplete !== 'false';
                }
                this.initAnoFormVariables();
            },
            watch: {
                initialComplete: function (data) {
                    this.savePersons();
                }
            },
        });
    </script>

    <script>
        var form = $('#wizard');

        form.validate({
            highlight: function (element) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element) {
                $(element).removeClass('is-invalid');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                return true;
            },
            ignore: ":not(:visible)",
        });

        var steps = form.steps({
            onChange: function (currentIndex, newIndex, stepDirection) {
                if (currentIndex === newIndex || stepDirection === 'backward')
                    return true;

                if (currentIndex === 5 && stepDirection === 'forward') {
                    if ($('#selected-okveds input.selected').length < 1) {
                        alert('Пожалуйста, выберите хотя-бы один ОКВЭД');
                        return false;
                    } else {
                        return true;
                    }
                }

                $('[data-save]').trigger('change');

                return form.valid();
            },

            onFinish: function () {
                $.ajax({
                    url: '/generate',
                    method: 'post',
                    dataType: 'html',
                    data: form.serialize(),
                    success: function (resp) {
                        vm.resultFiles = JSON.parse(resp);
                    },
                });
            },
        });

        $('html').keydown(function (e) {
            if (e.keyCode == 13) {
                $(document.querySelector('#wizard input[name="company[activity_purpose]"]')).value + "<br/>";

            }

        });
        $('html').keydown(function (e) {
            if (e.keyCode == 13) {
                $(document.querySelector('#wizard input[name="company[activity_object]"]')).value + "<br/>";

            } else {
                if (e.keyCode == 13) {
                    $('[data-step-action="next"]').trigger('click');
                }
            }

        });


        $("[type=address]").suggestions({
            token: "8fbd51a617b396af94a794d683ec99a9d83364c0",
            type: "ADDRESS",
            // bounds: 'city-street',
            count: 10,
            onSelect: function (suggestion) {
                $('#address-suggestion').val(JSON.stringify(Object.entries(suggestion.data)))
                    .trigger('change');
                setupAddressFields();
            }
        });

        function setupAddressFields() {
            var data = JSON.parse($('#address-suggestion').val());
            for (const [key, value] of Object.entries(data)) {
                var _key = value[0];
                var _value = value[1];
                var field = $("[name='address[" + _key + "]']");
                if (field.length > 0) {
                    field.val(_value);
                }
            }
            $("[type=address]").trigger('change');
        }

        $('[type=date]').each(function (i, el) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            today = yyyy + '-' + mm + '-' + dd;
            $(el).attr("max", today);
        });

        $('[name*=phone]:not(.n-mask)').inputmask("+9 (999) 999 99 99");
        $('[name*=inn]:not(.n-mask)').inputmask("999999999999");
        $('[name*=passport_code]:not(.n-mask)').inputmask("999-999");
        $('[name*=passport_serial]:not(.n-mask)').inputmask("9999");
        $('[name*=passport_number]:not(.n-mask)').inputmask("999999");

        $('[data-save]').change(function () {
            var that = $(this);
            localStorage.setItem('form.' + that.attr('name'), that.val());
        });

        setFilledData();

        function setFilledData() {
            for (var i = 0; i < localStorage.length; i++) {
                var key = localStorage.key(i);
                var val = localStorage.getItem(key);
                var item = $('[name="' + key.replace('form.', '') + '"]');
                item.val(val).change();
            }
            if ($("[type=address]").val() != '')
                setupAddressFields();
        }

    </script>


    <style>
        .initial-form {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .initial-form > div, .initial-form .cols {
            display: flex;
            flex-direction: column;
        }

        .initial-form .btn input {
            opacity: 0;
            width: 0;
        }

        .initial-form h4 {
            text-align: center;
            max-width: 450px;
        }
    </style>

    <style>
        .table {
            overflow: auto;
            height: 100%;
        }

        .table .col-sm-2 {
            text-align: center;
            font-weight: 600;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            margin: 3px;
            min-height: 190px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .table .btn-primary {
            background-color: #0d6efd;
        }

    </style>


{% endblock %}
