<div class="mb-3">
    <label class="form-label">{{ label }} {{ required ? '*' : '' }}</label>
    <select class="form-control {{ class }}" name="{{ name }}" {{ required ? 'required' : '' }} data-save>
        {% for option in options %}
            <option value="{{ option.val }}">{{ option.name }}</option>
        {% endfor %}
    </select>
</div>
