<div class="mb-3">
    <label class="form-label">{{ label }} {{ (label and required) ? '*' : '&nbsp' }}</label>
    <input type="{{ type ?? 'text' }}" class="form-control {{ class }}" placeholder="{{ placeholder }}"
           name="{{  name }}" value="{{ value }}" {{ required ? 'required' : '' }} data-save
    >
</div>
