<div class="form-check mb-3">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input {{ class }}" data-save
               name="{{ name }}" value="{{ value }}" {{ required ? 'required' : '' }}>
        {{ label }} {{ required ? '*' : '' }}
    </label>
</div>
