<div class="mb-3">
    <label class="form-label">{{ label }} {{ (label and required) ? '*' : '&nbsp' }}</label>
    <textarea class="form-control {{ class }}" placeholder="{{ placeholder }}" data-save
              name="{{ name }}" {{ required ? 'required' : '' }}></textarea>
</div>
