<div v-if="initial.form === 'assoc'">

    <div v-if="initial.step === 0">
        <h4 class="mb-3">
            Планируете ли вы осуществлять предпринимательскую и (или) иную приносящую доход деятельность?
        </h4>

        <div class="cols">
            <span v-for="name, key in {'1': 'Да', '0': 'Нет'}" class="btn btn-primary mb-2"
                  @click="initialFinish('commercial', key)">
                ${ name }
            </span>
        </div>
    </div>

</div>
