<div v-if="initial.form === 'f'">

    <div v-if="initial.step === 0">
        <h4 class="mb-3">
            Планируете ли вы осуществлять предпринимательскую и (или) иную приносящую доход деятельность?
        </h4>

        <div class="cols">
            <span v-for="name, key in {'1': 'Да', '0': 'Нет'}" class="btn btn-primary mb-2"
                  @click="initialStep(1, 'commercial', key)">
                ${ name }
            </span>
        </div>
    </div>

    <div v-if="initial.step === 1">
        <h4 class="mb-3">
            Сколько будет учредителей?
        </h4>

        <div class="cols">
            <span v-for="name, key in {'0': 'Один', '1': 'Более'}" class="btn btn-primary mb-2"
                  @click="initialFinish('manyPersons', key)">
                ${ name }
            </span>
        </div>
    </div>

</div>
