<script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<script>
jQuery(function($) {
$('[type=phone], #phone').inputmask("+9-(999)-999-99-99");
        $('[type=email]').inputmask("email"); 
        $('[type=date]').inputmask("99.99.9999");
        })
</script>

<div v-if="!initial.form" style="height: 100%;">

    <div style="height: 80%;">
    <!--<p class=intro>
      Сервис по оказанию помощи в формировании пакета документов на регистрацию НКО
    </p>-->
       <div class=buttons>
        <h4 class="mb-3" style="max-width: 100%;">
            Выберите необходимую Вам форму организации
        </h4>
                
                    <label class="btn btn-primary mb-2">
                        <input type="radio" v-model="initial.form" value="ano">
                        Автономная некоммерческая организация
                    </label>
                

                
                    <label class="btn btn-primary mb-2">
                        <input type="radio" v-model="initial.form" value="oo">
                        Общественная организация (объединения)
                    </label>
               
               
                    <label class="btn btn-primary mb-2">
                        <input type="radio" v-model="initial.form" value="f">
                        Фонд
                    </label>
               
               
                    <label class="btn btn-primary mb-2">
                        <input type="radio" v-model="initial.form" value="assoc">
                        Ассоциация
                    </label>
              
            </div>
   </div>
  </div> 