<div v-if="initial.form === 'oo'">

    <div v-if="initial.step === 0">
        <h4 class="mb-3">
            Выберете необходимую Вам форму организации
        </h4>

        <div class="cols">
            <span v-for="name, key in {'roo': 'Региональная Общественная организация', 'moo': 'Местная Общественная организация'}"
                  class="btn btn-primary mb-2" @click="initialStep(1, 'subform', key)">
                ${ name }
            </span>
        </div>
    </div>

    <div v-if="initial.step === 1">
        <div>
            <h4 class="mb-3">
                Вы отделение?
            </h4>

            <div class="cols">
                <span class="btn btn-primary mb-2"
                      @click="initialStep(2, 'own_charter', 1)">
                    Нет
                </span>
                <span class="btn btn-primary mb-2"
                      @click="initialStep(1, 'department', 1)">
                    Да
                </span>
            </div>
        </div>
    </div>

    <div v-if="initial.step === 2">
        <h4 class="mb-3">
            Можете использовать Устав Всероссийской общественной организации!
        </h4>

        <div class="cols">
            <span class="btn btn-primary mb-2"
                  @click="initialStep(1, 'own_charter', 1)">
                Нет
            </span>
            <span class="btn btn-primary mb-2"
                  @click="initialStep(1, 'own_charter', 0)">
                Да
            </span>
        </div>
    </div>

    <div v-if="initial.step === 3">
        <h4 class="mb-3">
            Планируете ли вы осуществлять предпринимательскую и (или) иную приносящую доход деятельность?
        </h4>

        <div class="cols">
            <span v-for="name, key in {'0': 'Нет', '1': 'Да'}" class="btn btn-primary mb-2"
                  @click="initialFinish('commercial', key)">
                ${ name }
            </span>
        </div>
    </div>

</div>
